@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* 스크롤바 숨김 (스크롤은 가능) */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}